@import "./navbar.css";
/*@import "./scrollbar.css";*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: roboto, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

:root {
  --nav-size: 60px;
  --border-radius: 8px;
  --speed: 500ms;
  --red: #ff3860;
  --red-dark: #ff1443;
  --red-light: #ff5c7c;
  --blue: #498afb;
  --blue-dark: #2674fa;
  --blue-light: #6ca0fc;
  --orange: #fa8142;
  --orange-dark: #f96a1f;
  --orange-light: #fb9865;
  --gray-50: #fdfdfd;
  --gray-100: #f5f5f5;
  --gray-200: #F0F2F5;
  --gray-300: #e0e0e0;
  --gray-400: #bdbdbd;
  --gray-500: #9e9e9e;
  --gray-600: #4E4F50;
  --gray-700: #3A3B3C;
  --gray-800: #18191A;
  --gray-900: #242526;
}

.dark {
  --filter-value: 1.2;
  --primary-color: var(--gray-800);
  --primary-variant: var(--gray-900);
  --primary-accent: var(--gray-600);
  --primary-accent-variant: var(--gray-700);
  --text-color: var(--gray-200);
  --selected: var(--blue);
  --button-color: var(--red-light);
  --shadow: 0 0 16px 0 rgba(255, 255, 255, 0.10);
}

.light {
  --filter-value: 0.8;
  --primary-color: var(--gray-200);
  --primary-variant: var(--gray-50);
  --primary-accent: var(--gray-300);
  --primary-accent-variant: var(--gray-200);
  --text-color: var(--gray-900);
  --button-color: var(--red);
  --selected: var(--blue-dark);
  --shadow: 0 0 16px 0 rgba(0, 0, 0, 0.20);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}
